/* evenement.css */

.large-calendar .react-calendar {
    width: 80%;
    max-width: 800px;
    font-size: 1.2em;
    margin: auto;
}

.calendar-legend {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.past-event-legend::before,
.imminent-event-legend::before,
.future-event-legend::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.past-event-legend::before {
    background-color: red;
}

.imminent-event-legend::before {
    background-color: blue;
}

.future-event-legend::before {
    background-color: green;
}
