/* evenements.css */

.events {
    display: flex;
    flex-direction: column;
}

.event {
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
}

/* Couleurs pour les événements */
.past-event {
    background-color: #f8d7da; /* Rouge clair */
    color: #721c24;
}

.imminent-event {
    background-color: #fff3cd; /* Jaune clair */
    color: #856404;
}

.future-event {
    background-color: #d4edda; /* Vert clair */
    color: #155724;
}

/* Styles des jours dans le calendrier */
.day {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 80px;
    max-width: 80px;
}

.date-number {
    font-weight: bold;
}

.empty {
    background-color: #f5f5f5;
}

/* Légende */
.legend {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.legend div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.past-event-indicator,
.imminent-event-indicator,
.future-event-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.past-event-indicator {
    background-color: #f06745;
}

.imminent-event-indicator {
    background-color: #0072dd;
}

.future-event-indicator {
    background-color: #009723;
}

.past-event {
    background-color: #ff896b;
}

.imminent-event {
    background-color: #0072dd;
}

.future-event {
    background-color: #009723;
}



/* evenements.css */

/* Styles pour les jours avec événements */
.event-day {
    position: relative;
    cursor: pointer; /* Indiquer que l'élément est cliquable */
}

/* Styles pour l'effet de survol */
.event-day:hover::after {
    content: 'Cliquez pour voir l\'\év\ènements';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    background-color: rgb(228, 0, 0);
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
}
