/* Styles pour les logos */
.navbar-brand img {
    height: 65px; /* Ajustez la hauteur du logo */
    width: auto;  /* Conserver les proportions du logo */
}

/* Styles pour les liens du menu */
.nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

/* Styles pour les menus déroulants */
.navbar-nav .dropdown-menu {
    background-color: #ffffff; /* Couleur de fond du dropdown */
    z-index: 1050; /* Assurez-vous que le dropdown apparaît au-dessus du premier menu */
}

.navbar-nav .dropdown-item {
    color: #ffffff; /* Couleur du texte dans les items de menu */
}



.navbar-nav .dropdown-item:hover {
    background-color: #3884f7; /* Couleur de fond au survol des items de menu */
    color: #ffffff; /* Couleur du texte au survol des items de menu */
}



/* Custom toggle button styles */
.custom-toggler.navbar-toggler {
    border-color: #fff;
}

.custom-toggler.navbar-toggler .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" linecap="round" linejoin="round" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

/* Responsive styles */
@media (max-width: 991.98px) {
    .navbar-container {
        width: 100%;
    }

    .menu3 {
        display: block; /* Afficher le second menu sur les écrans petits */
    }

    .custom-navbar {
        display: none; /* Masquer le premier menu sur les écrans petits */
    }

    .menu3 .navbar-nav {
        margin-top: 10px; /* Espacement entre le menu secondaire et le menu principal */
    }

    .menu3 .navbar-nav .nav-item {
        margin-bottom: 5px; /* Espacement entre les items du menu principal */
    }

    .custom-toggler.navbar-toggler {
        border-color: #afda14;
    }

    .custom-toggler.navbar-toggler .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%280, 76, 151, 1%29" stroke-width="2" linecap="round" linejoin="round" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    }
}

@media (min-width: 992px) {
    .navbar-container {
        display: flex; /* Afficher les éléments de menu en flex sur les grands écrans */
    }

    .custom-navbar, .menu3 {
        display: block; /* Assurez-vous que les menus sont affichés correctement */
    }
}

@media (min-width: 540px) {
    .navbar-container {
        display: flex; /* Afficher les éléments de menu en flex sur les grands écrans */
    }

    .custom-navbar, .menu3 {
        display: block; /* Assurez-vous que les menus sont affichés correctement */
    }
}

/* Style pour l'onglet actif */
.nav-link.active {
    border-bottom: 3px solid #0069a7; /* Couleur de la barre indiquant l'onglet actif */
}

.text-blue {
    color: #004C97; /* Définissez votre couleur de texte bleu ici */
}

/* Style pour le menu 3 */
.menu3 .dropdown-menu {
    z-index: 1050; /* Assurez-vous que le z-index soit plus élevé que celui du premier menu */
}

.nav-link-custom {
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.nav-link-custom:hover, .nav-link-custom.active {
    background-color: rgb(255, 255, 251); /* Couleur de fond au survol ou quand actif */
    border-radius: 5px; /* Bordure arrondie au survol ou quand actif */
}

/* Styles pour le premier menu (principal) */
.custom-navbar .nav-link {
    font-size: 1.1rem; /* Ajustez la taille selon vos besoins */
}

/* Styles pour le deuxième menu (communauté et formations) */
.menu2 .nav-link-custom {
    font-size: 1.1rem; /* Ajustez la taille selon vos besoins */
}

/* Pour les éléments de dropdown */
.menu2 .dropdown-item {
    font-size: 1.1rem; /* Ajustez la taille selon vos besoins */
}

/* Conteneur pour la barre de navigation */
.navbar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Style pour les items de la barre de navigation */
.navbar-item {
    margin-bottom: 10px; /* Ajoutez de l'espace entre les deux menus */
}



/* Positionnement et style personnalisé de la première barre de navigation */
.custom-navbar {
    position: absolute;
    top: 12%;
    right: 0;
    margin-right: 6%;
    z-index: 1000;
}



/* Responsive styles 
@media (max-width: 1024px) {
    .menu2-lg {
        margin-right: 0; /* Réinitialiser la marge pour les écrans de 1024px et plus petits 
    }

    .navbar-item {
        margin-bottom: 0; /* Supprimer l'espacement entre les deux menus 
    }
}*/

/* Couleur du texte pour le deuxième menu */
.menu2 .nav-link,
.menu2 .dropdown-toggle {
    color: rgb(0, 117, 138) !important; /* Couleur du texte pour le menu 2 */
}

/* Couleur du texte pour le troisième menu */
.menu3 .nav-link,
.menu2 .dropdown-toggle1 {
    color: rgb(253, 253, 253) !important; /* Couleur du texte pour le menu 3 */
}

/* Style pour le logo dans le premier menu */
.menu1 {
    height: 80px;
}


