.carousel-image {
  width: 100%;
  height: 20%; /* Ajustez la hauteur selon vos besoins */
  object-fit: cover; /* Assurez-vous que l'image couvre toute la zone définie */
}

.carousel-caption-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-item {
  margin-bottom: 10px; /* Ajoutez de l'espace entre les deux menus */
}

.custom-navbar {
  position: absolute;
  top: 12%;
  right: 0;
  margin-right: 6%;
  z-index: 1000;
}

.menu2 {
  margin-right: -15%;
}

.menu2 .nav-link,
.menu2 .dropdown-toggle {
  color: rgb(19, 18, 18) !important; /* Couleur du texte pour le menu 2 */
}

.menu3 .nav-link,
.menu2 .dropdown-toggle1 {
  color: rgb(253, 253, 253) !important; /* Couleur du texte pour le menu 3 */
}

.menu1 {
  margin-left: -50%;
  height: 80px;
}

.carousel-container {
  margin-top: -20px; /* Ajustez cette valeur pour monter le carousel */
}

.carousel-image {
  filter: brightness(40%); /* Réduit la luminosité de l'image à 40% */
}


.team-card {
  width: 18rem;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.team-card-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.team-card-body {
  padding: 10px;
}

.team-card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.team-card-text {
  font-size: 1rem;
  color: #555;
}

.team-card-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #004C97;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.team-card-button:hover {
  background-color: #003366;
}

/* Dans votre fichier welcome.css */
.team-title {
  text-align: left;
  color: #333; /* Couleur du texte, ajustez selon vos préférences */
  margin-left: 40px; /* Ajustement du margin pour l'aligner */
}

/* Styles pour les titres et descriptions sur les écrans de petites tailles */
@media (max-width: 991.98px) {
  .carousel-caption-center h2 {
      font-size: 3rem; /* Taille du titre réduite */
      margin-bottom: 1rem; /* Espacement inférieur réduit */
  }

  .carousel-caption-center p {
      font-size: 1rem; /* Taille de la description réduite */
  }
}


.card-title-custom {
  color: #fff; /* Couleur blanche pour le texte */
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent noir */
  padding: 10px;
  border-radius: 5px;
}



/* Style pour les images du carrousel 
.carousel-image {
  height: 1200px; /* Hauteur fixe souhaitée 
  object-fit: cover; /* Recadre l'image pour couvrir le conteneur sans déformation 
  width: 100%; /* Largeur à 100% du conteneur 
}

/* Style pour les images du carrousel 
.carousel-image {
  width: 100%; /* Largeur à 100% du conteneur 
  height: auto; /* Hauteur automatique pour maintenir les proportions 
  object-fit: cover; /* Recadre l'image pour couvrir le conteneur sans déformation 
}

/* Styles spécifiques aux différentes tailles d'écran 
@media (min-width: 576px) {
  /* Pour les petits écrans (576px et plus) 
  .carousel-image {
      height: 400px; /* Ajuster la hauteur pour les petits écrans 
  }
}

@media (min-width: 768px) {
  /* Pour les écrans moyens (768px et plus) 
  .carousel-image {
      height: 600px; /* Ajuster la hauteur pour les écrans moyens 
  }
}

@media (min-width: 992px) {
  /* Pour les grands écrans (992px et plus) 
  .carousel-image {
      height: 800px; /* Ajuster la hauteur pour les grands écrans 
  }
}

@media (min-width: 1200px) {
  /* Pour les très grands écrans (1200px et plus) 
  .carousel-image {
      height: 1000px; /* Ajuster la hauteur pour les très grands écrans 
  }
}*/
