/* Styles pour les images du carousel */
.carousel-image {
  width: 100%;
  height: 20%; /* Ajustez la hauteur selon vos besoins */
  object-fit: cover; /* Assurez-vous que l'image couvre toute la zone définie */
}

/* Centrage du contenu dans le carousel */
.carousel-caption-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

/* Conteneur du carousel */
.carousel-container {
  margin-top: -20px; /* Ajustez cette valeur pour monter le carousel */
}

/* Filtre appliqué aux images du carousel */
.carousel-image {
  filter: brightness(40%); /* Réduit la luminosité de l'image à 40% */
}

/* Couleur et style du titre des cartes personnalisées */
.card-title-custom {
  color: #fff; /* Couleur blanche pour le texte */
  background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent noir */
  padding: 10px;
  border-radius: 5px;
}

/* Carousel principal */
.carousel-container {
  width: 100%;
  height: 110vh; /* Hauteur en fonction de la taille de la fenêtre */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assurez que l'image couvre toute la hauteur sans se déformer */
}

/* Centrage du contenu dans le carousel */
.carousel-caption-center {
  top: 50%;
  transform: translateY(-50%);
}

/* Ajustement pour les petites tailles d'écran */
@media (max-width: 768px) {
  .carousel-container {
    height: 35vh; /* Ajustez la hauteur pour les petits écrans */
  }

  .carousel-caption-center h2 {
    font-size: 3rem;
  }

  .carousel-caption-center p {
    font-size: 1rem;
  }

  .text-primary {
    font-size: 1.5rem;
  }

  .text-secondary {
    font-size: 0.875rem;
  }
}

/* Ajustement pour les petites tailles d'écran */
@media (max-width: 820px) {
  .carousel-container {
    height: 35vh; /* Ajustez la hauteur pour les petits écrans */
  }
}

/* Ajustement pour les petites tailles d'écran */
@media (max-width: 1024px) {
  .carousel-container {
    height: 40vh; /* Ajustez la hauteur pour les petits écrans */
  }
}

/* Ajustement pour les petites tailles d'écran */
@media (max-width: 540px) {
  .carousel-container {
    height: 40vh; /* Ajustez la hauteur pour les petits écrans */
  }
}

/* Style pour les sections de bienvenue */
.welcome-section {
  padding: 2rem 0;
}

/* Style pour le titre des cartes personnalisées */
.card-title-custom {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Réduction de la taille et largeur du bouton "Voir plus" */
.btn-primary {
  font-size: 0.875rem; /* Réduit la taille du texte du bouton */
  padding: 0.25rem 0.5rem; /* Réduit le padding du bouton */
  border-radius: 0.25rem; /* Réduit le rayon de la bordure pour une apparence plus compacte */
  width: 150px; /* Réduit la largeur du bouton */
  margin-bottom: 1rem; /* Fait remonter le bouton légèrement */
  margin-left: auto; /* Centre le bouton horizontalement */
  margin-right: auto; /* Centre le bouton horizontalement */
  display: block; /* Assure que le bouton est un élément de bloc pour le centrage */
  text-align: center; /* Assure que le texte est centré */
}
